/*side-bar*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
  }
  body{
    min-height: 100vh;
    background: #171717;
    background-size: cover;
    background-position: center;
    color: white;
  }
  .side-bar{
    background: #1b1b1b;
    width: 300px;
    left: -300px;
    height: 800px;
    position: fixed;
    top: 0;
    overflow-y: auto;
    transition: 0.6s ease;
    transition-property: left;
  }
  .close-btn{
    position: absolute;
    color: #fff;
    font-size: 23px;
    right: 0px;
    margin: 15px;
    cursor: pointer;
  }
  .menu{
    width: 100%;
    margin-top: 40px;
  }
  .menu .item{
    position: relative;
    cursor: pointer;
  }
  .item:hover{
    background-color: #646c72;
    
  }
  .menu .item a{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    display: block;    
    padding: 5px 30px;
    line-height: 60px;  
  }
  .item a .dropdown{
    position: absolute;
    right: 0;
    margin: 20px;
    transition: 0.3s ease;
    
    
  }
  .dropdown.rotate {
    transform: rotate(90deg);
  }

  .item .sub-menu{
    background: #262626;
    display: none;
  }
  .menu-btn{
    position:fixed;
    color: white;
    font-size: 35px;
    cursor: pointer;
    margin: 25px;
  }
  .sub-menu.active {
    display: block;
  }
/*content*/
h1{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
}
.informations{
    margin-left: 350px;
    width: 850px;
    position: absolute;
}
#history{
    margin-top: 300px;
    margin-left: 350px;
    width: 850px;
    position: absolute;
}
.beginner{
    margin-top: 2300px;
    margin-left: 350px;
    width: 850px;
    position: absolute;
    height: fit-content;
}
.bottom{
    width: 158.6%;
    height: 150px;
    background-color: rgb(85, 83, 83);
    position: absolute;
    margin-left: -350px;
    margin-top: 150px;

}
.bottom p{
    margin-left: 50px;
    
}
.bottom .pp{
    margin-left: 100px;
}
.bottom a{
  margin-left: 50px;
  color: aliceblue;
  
  
}
